    <div class=" container col-md-7 col-lg-8">
      <h4 class="mb-3">Registro de Usuarios</h4>
      <form [formGroup]="checkoutForm" class="needs-validation" novalidate (ngSubmit)="onSubmit()" method="post">
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="firstName" placeholder="Escriba su Nombre" value=""
            required formControlName="nombre">
            <div class="invalid-feedback">
              El campo Nombre es requerido.
            </div>
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="lastName" placeholder="Escriba su Apellido" value="" 
            required formControlName="apellido">
            <div class="invalid-feedback">
              El campo Apellido es requerido.
            </div>
          </div>

          <div class="col-12">
            <label for="numId" class="form-label">Numero de Identificación</label>
            <input type="number" class="form-control" id="numId" placeholder="Número de Identificación" 
            required formControlName="numeroId">
            <div class="invalid-feedback">
              El campo Numero de Identificación es requerido.
            </div>
          </div>

          <div class="col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com" 
            required formControlName="email">
            <div class="invalid-feedback">
              Por favor registre una dirección de email válida.
            </div>
          </div>

          <div class="col-12">
            <label for="address" class="form-label">Password</label>
            <input type="password" class="form-control" id="address" placeholder="Escriba su password" 
            required formControlName="password">
            <div class="invalid-feedback">
              Por favor registre un password.
            </div>
          </div>

          <div class="col-md-10 col-md-offset-2">
            <span class="btn-personas">
              <button class="btn btn-primary" type="submit" [disabled]="!checkoutForm.valid">
                Salvar
              </button>
              &nbsp;
              <button class="btn btn-default" type="button" [routerLink]='["/inicio"]'>
                Cancelar
              </button>
            </span>
          </div>
     